.searchNode{
    position: relative !important;
}
.addfriend-button{
    position: absolute !important;
    bottom: 0;
    text-align: center;
    height: 30px !important;
    width: 10px !important;
}