:root{
    --primary-grey: #CFE4FE;
    --bg-grey: #F4F4FB;
    --logo-color: #011E31;
    --light-green: #92E3A9;
    --purple: #BA68C8;
    --blue: #213F7A;
    --primary: #023047;
    --primary-light: #005580a1;
    --secondary: black;
}